<script>

    var events = [];
    {% for event in events %}
        events.push({
            title: '{{ event.title }}',
            start: '{{ event.startAt|date('Y-m-j\\TH:i:\\0\\0') }}',
            url: "{{ path('app_event_view', {'id': event.id}) }}" // adjust date and time accordingly
        })
    {% endfor %}

    document.addEventListener('DOMContentLoaded', function() {

        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            events: events
        });
        calendar.render();
    });
    


    
</script>