
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/locales/fr.js"></script>

<script>

    var events = [];
    {% for event in events %}
        events.push({
            title: '{{ event.title }}',
            color: '#378006',
            display: 'black',
            allDay: false, 
            start: '{{ event.startAt|date('Y-m-d\\TH:i:\\0\\0') }}',
            url: "{{ path('app_event_view', {'id': event.id}) }}" // adjust date and time accordingly
        })
    {% endfor %}
    console.log(events)

    document.addEventListener('DOMContentLoaded', function() {

        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale: 'fr',
            events: events,
            displayEventTime: false
        });
        calendar.render();
    });
    


    
</script>

<div id='calendar' class="white"></div>