<div class="grix xs4 sm4 p-3 gutter-0 card borderless rounded-2 primary">
    <div class="col-sm1 col-xs1 flex vtop fx-center">
    </div>
    <div class="col-sm3 col-xs3">
        <div class="slim">
            <a href="" class="customlink">
                <h3 class="cardtitle mb-2">{{ event.title}}</h3>
            </a>
            <p class="meta mb-3">
                <span class="mr-3"><i class="far fa-calendar-alt mr-2"></i>{{ event.createdAt | date('d/m/Y')}}</span>
                {# {% if news.category %}
                <span class="mr-3"><a href="{{ path('news_list', {'category': news.category.name }) }}"><i class="far fa-folder mr-2"></i>{{ news.category }}</a></span>
                {% endif %} #}
                
                <!-- TODO -->
                {# <span class="mr-3"><i class="far fa-comment-dots mr-2"></i>{{ news.comments.count }} Commentaires</span>  #}
            </p>
        </div>
        <div class="card-content slim">
            <p class="mb-4">{{ event.content | slice(0,100)}}...</p>
            <p><a href="" class="customlink font-w700">Voir plus ></a></p>            
        </div>
    </div>
</div>