<a href="{{ path('app_event_view', { 'id' : event.id })}}" class="">
	<div class="shadow-1 white grix xs4 my-3" style="min-height: 85px;">

		<div class="col-xs1 col-md1 d-flex vcenter">
			{% if event.fileName %}
				<img src="{{ asset('uploads/images/' ~ event.fileName) }}" alt="Tennis de table Patay" class="responsive-media">
			{% else %}
				<img src="{{ asset('img/pataytt.jpg') }}" alt="Tennis de table Patay" class="responsive-media">
			{% endif %}
			{# <img src="https://picsum.photos/50/50?random=1" style="height: 100%;width: 100%" alt="Logo Tennis de table Patay" /> #}
		</div>

		<div class="col-xs2 col-md3">
			<div class="pl-3 pt-3">
				
					<b>
						{{event.title }}
					</b>
					<small class="ml-1"><i>{{ event.startAt ?
                        event.startAt|date('d/m/Y') : '' }}</i></small>
				
				{# <p>
					<small class="text-blue text-dark-3"><a href="{{ path('app_news_show', { 'id' : news.id })}}"
							class="customlink">Voir plus ></a></small>
				</p> #}
			</div>
		</div>
	</div>
</a>