{% extends 'base.html.twig' %}

{% block title %}Les Evenements | PATAY TENNIS DE TABLE{% endblock %}
{% block javascripts %}
{{ parent() }}
{% endblock javascripts %}

{% block body %}

<div class="">
    {# <div class="text-center">
        <h1>Evenements à venir</h1>
    </div> #}

    <div class="grix xs1 md3 m-4 gutter-xs4">
        <div class="col-xs1 col-md2 white shadow-1 p-5 rounded-2">

            {% include "/event/_calendar.html.twig" %}
            
        </div>
        <div class="col-xs1 white p-3 shadow-1 rounded-2">            
            {% for event in events | slice(0,8) %}
                {% include "/event/_card_small.html.twig" %}
            {% endfor %}
        </div>
    </div>

</div>


{% endblock %}
