{% extends 'base.html.twig' %}

{% block title %}{{ event.title }} | Ping patay{% endblock %}

{% block body %}
<div class="grix xs1 sm4 shadow-1 fx-row white m-5">
    <div class="col-xs1 col-sm3 px-5">
      <div class="d-flex fx-col fx-grow">
        <div class="font-w600 font-s6 mt-2"><u>{{ event.title }}</u></div>
        <div class="text-grey"><small><i>Publié le {{ event.createdAt ? event.createdAt|date('d/m/Y à H:i') : '' }}</i></small></div>
        <div class="card-content">
          <p>{{ event.content }}</p>
        </div>
        <div class="my-2">
            <span><i class="fa fa-map-marker" aria-hidden="true"></i><i class="ml-3">{{ event.location ? event.location : '' }}</i></span>
        </div>
        <div class="my-2">
            <span><i class="fa fa-calendar-o" aria-hidden="true"></i><i class="ml-3">{{ event.startAt ? event.startAt|date('d/m/Y à H:i') : '' }}</i></span>
        </div>
      </div>
    </div>
    <div class="col-xs1 d-flex vcenter fx-center p-2 pos-row-sm1">
      {% if event.fileName %}
      <img src="{{ asset('uploads/images/' ~ event.fileName) }}" alt="Tennis de table Patay" style="width:  75%;height:auto;display:block;">
      {% else %}
      <img src="{{ asset('img/pataytt.jpg') }}" alt="Tennis de table Patay" class="" style="width:  75%;height:auto;display:block;">
      {% endif %}
    </div>

  </div>
{% endblock %}