{% extends 'base.html.twig' %}

{% block title %}Club de Tennis de Table à Patay | Ping-Pong pour Tous
{% endblock %}

{% block body %}
<h1 class="text-center anton-regular font-w500 font-s8">Bienvenue au club de Tennis de Table de Patay</h1>

<div class="grix xs1 md3 m-5 gutter-xs3">
	<div class="white col-xs1 col-md2">
		{% include "/news/_caroulix.html.twig" %}
	</div>
	<div class="col-xs1 pos-row-xs3 pos-row-md1 pos-md3 px-4 py-3 white rounded-2 font-s1">
		<div class="font-w800 font-s6 text-center mb-4"><i class="fa fa-calendar" aria-hidden="true"></i> Agenda</div>
		{% include "/event/_calendar.html.twig" %}
	</div>

	<div class="col-xs1 col-md3 pos grix xs1 sm3 gutter-md5 gutter-xs3 container">
		{% for news in news | slice(0, 3) %}
		{% include "/news/_card.html.twig" %}
		{% endfor %}
	</div>

</div>
<div class="black p-3">
	<div class="text-center mb-2">
		<h1>Nos partenaires</h1>
	</div>
<div class="grix gutter-xs5 xs1 md4 my-5">

	{% include "/main/sections/_partenaires.html.twig" %}
</div>
</div>
{% endblock %}