{{ form_start(form, {'attr': {'class':'form-material form-material-bordered'}}) }}

    <div class="grix xs3 p-4">
        <div class="form-field col-xs2">
            {{ form_label(form.title) }}
            {{ form_widget(form.title, {'attr': {'class':'form-control'}}) }}
        </div>
        {# <div class="form-field">
            {{ form_label(form.category) }}
            {{ form_widget(form.category, {'attr': {'class':'form-control'}}) }}
        </div> #}
        {# <div class="form-field">
            {{ form_label(form.icon) }}
            {{ form_widget(form.icon, {'attr': {'class':'form-control'}}) }}
        </div> #}
        {# <div class="form-field">
            {{ form_label(form.tags) }}
            {{ form_widget(form.tags, {'attr': {'class':'form-control'}}) }}
        </div> #}
        <div class="form-field col-xs2">
            {{ form_label(form.content) }}
            {{ form_widget(form.content, {'attr': {'class':'form-control', 'rows': 10}}) }}
        </div>
        <div class="form-field col-xs2 mt-4">
            {# {{ form_label(form.startAt) }} #}
            {{ form_widget(form.startAt, {'attr': {'class':'form-control'}}) }}
        </div>
        <div class="form-field col-xs2 mt-4">
            {# {{ form_label(form.startAt) }} #}
            {{ form_label(form.location) }}
            {{ form_widget(form.location, {'attr': {'class':'form-control'}}) }}
        </div>
        <div class="form-field col-xs2">
            {# {{ form_label(form.file) }} #}
            {{ form_widget(form.file, {'attr': {'class':'form-control p-2 pb-3'}, 'filename': event.fileName}) }}
        </div>
        <div class="form-field col-xs2">
            <button class="btn shadow-1 rounded-1 blue">{{ button_label|default('Save') }}</button>
        </div>
    </div>
{{ form_end(form) }}