{% extends 'base.html.twig' %}

{% block title %}Index des evenements | ping pong patay{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Liste evenements</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Date</th>
                    <th>Crée le</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                <tr>
                    <td>{{ event.title }}</td>
                    <td>{{ event.startAt ? event.startAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ event.createdAt ? event.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a class="btn primary" href="{{ path('app_event_admin_show', {'id': event.id}) }}">Voir</a>
                        <a class="btn secondary" href="{{ path('app_event_admin_edit', {'id': event.id}) }}">Modifier</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <a href="{{ path('app_event_admin_new') }}">Create new</a>
    </div>
        {% endblock %}
        