{% extends 'base.html.twig' %}

{% block title %}Ajouter un evenement ping{% endblock %}

{% block body %}
<div class="container">
    <h1>Create un Evenement</h1>
</div>

    {{ include('event_admin/_form.html.twig') }}

    <a href="{{ path('app_event_admin_index') }}">back to list</a>
{% endblock %}
