{% extends 'base.html.twig' %}

{% block title %}Tennis de table Patay{% endblock %}

{% block body %}
<div class="container">

    <h1>Event</h1>
    
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ event.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ event.content }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ event.createdAt ? event.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>StartAt</th>
                <td>{{ event.startAt ? event.startAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    
    <a class="btn primary" href="{{ path('app_event_admin_index') }}">Retour à la liste</a>
    
    <a class="btn secondary" href="{{ path('app_event_admin_edit', {'id': event.id}) }}">Modifier</a>
    
    {{ include('event_admin/_delete_form.html.twig') }}
</div>
    {% endblock %}
    