{% extends 'base.html.twig' %}

{% block title %}Ping pong Patay | Administration{% endblock %}

{% block body %}

<div class="container">
    <div class="grix xs2">
        <a class="sidenav-link pl-4 my-1" href="{{ path('app_event_admin_index') }}">

            <div class="col-xs1 primary font-w700 font-s5" style="display: flex;
            justify-content: center;
            align-items: center;height:125px">
                <div class="text-center">Liste des Evenements</div>
            </div>
        </a>
        <a class="sidenav-link pl-4 my-1" href="{{ path('app_event_admin_new') }}">
            <div class="col-xs1 primary font-w700 font-s5" style="display: flex;
            justify-content: center;
            align-items: center;height:125px">
                <div class="text-center">Créer un Evenement</div>
            </div>
        </a>
        <a class="sidenav-link pl-4 my-1" href="{{ path('app_news_admin_index') }}">
            <div class="col-xs1 secondary font-w700 font-s5" style="display: flex;
            justify-content: center;
            align-items: center;height:125px">
                <div class="text-center">Liste des News</div>
            </div>
        </a>
        <a class="sidenav-link pl-4 my-1" href="{{ path('app_news_admin_new') }}">
            <div class="col-xs1 secondary font-w700 font-s5" style="display: flex;
            justify-content: center;
            align-items: center;height:125px">
                <div class="text-center">Créer une news</div>
            </div>
        </a>
    </div>
</div>

{% endblock %}