<section id="contact" class="my-5">
    <div class="my-3">Daniel Munoz 
        <div class="my-2"><i class="fa fa-phone mr-2 text-red"></i>06.87.83.02.95</div>
        <div class="my-2"><i class="fa fa-envelope mr-2 text-red"></i>d.munoz@laposte.net</div>
    </div>


</section>