<section id="entrainements" class="pb-4">
    <h4 class="txt-blue txt-dark-3"> <u>Les entrainements</u></h4>
    <p>
        Retrouvez ci-dessous les horaires des ouvertures de la salle aux
        entrainements et séance libres pour cette année.
    </p>
    <p>
        <small><i>Ces horaires peuvent êtres amenées à changer en cours d'année</i></small>
    </p>
    <img class="fit-picture" src="{{ asset('img/horaires-entrainements-tennis-de-table-patay.png') }}" width="100%" alt="Tennis de table PATAY entrainements">
</section>