<section id="infosPratiques" class="py-4">
    <div class="grix xs1">
        
        <div class="my-4 col">
            <h5 style="font-size:1.30rem;">Les cotisations</h5>
            
            <div class="mt-4">
                <a href="{{ asset('pdf/TarifsLicences.pdf') }}" target="_blank"><i class="fa fa-file-pdf-o mr-2 text-red txt-size3"></i></a>
                <a href="{{ asset('pdf/TarifsLicences.pdf') }}" target="_blank" class="underline">Coût des licences 2022-2023</a>
            </div>
        </div>
        
        <div class="my-4 col">
            <h5 style="font-size:1.30rem;">Les Documents</h5>
            <p>
                Vous voulez vous inscrire en tant que nouvel adhérant ?<br>
                Remplissez alors la fiche club correspondante ainsi que
                celle de la Fédération Française de Tennis de Table.
            </p>
            <div class="mt-4">
                <a href="{{ asset('pdf/fiche_fftt.pdf') }}" target="_blank"><i class="fa fa-file-pdf-o mr-2 text-red txt-size3"></i></a>
                <a href="{{ asset('pdf/fiche_fftt.pdf') }}" class="underline" target="_blank">Fiche adhésion FFTT</a>
            </div>
            
        </br>
        <p>
            N'oubliez pas de fournir un certificat médical !
        </p>
        <p>
            Ou si votre certificat médical est toujours valide,</br>
            remplissez l'autoquestionnaire médical :
        </p>
        <div class="mt-4">
            <a href="{{ asset('pdf/autoquestionnaire_adulte.pdf') }}" target="_blank"><i class="fa fa-file-pdf-o mr-2 text-red txt-size3"></i></a>
            <a href="{{ asset('pdf/autoquestionnaire_adulte.pdf') }}" class="underline" target="_blank">Autoquestionnaire Adulte</a>
        </div>
        <div class="mt-4">
            <a href="{{ asset('pdf/autoquestionnaire_jeune.pdf') }}" target="_blank"><i class="fa fa-file-pdf-o mr-2 text-red txt-size3"></i></a>
            <a href="{{ asset('pdf/autoquestionnaire_jeune.pdf') }}" class="underline" target="_blank">Autoquestionnaire Jeune</a>
        </div>
        
    </div>
    <div class="my-4 col">
        <h5 style="font-size:1.30rem;">Calendrier 2024-2025 !</h5>
        
        <div class="mt-4">
            <a href="{{ asset('pdf/Calendrier-Dep_2425.pdf') }}" target="_blank"><i class="fa fa-file-pdf-o mr-2 text-red txt-size3"></i></a>
            <a href="{{ asset('pdf/Calendrier-Dep_2425.pdf') }}" target="_blank" class="underline">Caldendrier des competitions</a>
        </div>
    </div>
</div>
</section>