<section id="infosPratiques" class="">
    <div class="pb-4">
        <h3 class="mt-2" style="font-size:2.80rem;">La salle de Tennis de table</h3>
        <p>
            La salle de tennis de table de Patay est le Complexe Florian Rousseau, 45310 Patay.
        </p>
        <div class="grix xs2 sm2">
            <div class="col">
                <a href="https://www.google.fr/maps/place/Complexe+Florian+Rousseau/@48.0515865,1.6947244,16.75z/data=!4m6!3m5!1s0x47e4f56577175329:0xace42d1eaf27ab16!8m2!3d48.0532366!4d1.6948075!16s%2Fg%2F11fj05nsd0?entry=ttu&g_ep=EgoyMDI0MDkwMy4wIKXMDSoASAFQAw%3D%3D" target="_blank">
                    
                    <img class="fit-picture" src="{{ asset('img/map.png') }}" width="100%" height="100%"
                    alt="Tennis de table Patay salle">
                </a>
                </div>
            <div class="col"><img class="fit-picture" src="{{ asset('img/laSalle.png') }}" width="100%"
                    alt="Tennis de table Patay salle"></div>
        </div>
    </div>
</section>