<section id="leClub" class="pb-4">
    {# <h1 class="title txt-blue txt-dark-4 mt-4">CP PATAY Tennis de Table</h1> #}
    <h4 class="txt-blue txt-dark-3"> <u> Le Club</u></h4>
    <p>
        Le club de tennis de table de Patay existe depuis 1987. </br></br>
        Nous vous accueillons dans une ambiance conviviale ! 
        Les plus petits comme les plus grands sont les bienvenus. 
        Que vous souhaitiez évoluer en loisir ou en compétition. 
        Notre club est également affilié FFH (Handisport). 
        Alors n'hésitez pas à nous rejoindre !</br></br>
        Actuellement, le club compte plus de 50 licenciés, 4 équipes senior et 2 équipes vétéran.</br></br>

        Venez nous découvrir au gymnase de Patay tous les mercredis et
        vendredi à partir de 18h.
    </p>
    <div class="d-flex vcenter fx-center my-4">

        <img class="fit-picture" src="{{ asset('img/beandeau-facebook-ping-patay.jpg.jpg') }}" width="50%" alt="Tennis de table PATAY salle">
    </div>
</section>