<section id="organigramme" class="pb-4">
    {# <h1 class="title txt-blue txt-dark-4 mt-4">CP PATAY Tennis de Table</h1> #}
    <h4 class="txt-blue txt-dark-3"> <u>Organigramme du club</u></h4>
    
</section>