<div class="col-xs1 d-flex fx-center my-5">
    <a href="https://www.domingues-sergio28.fr" target="_blank">
        <img src="{{ asset('img/sergio.png') }}" class="rounded-2" alt="Sergio Domingues" style="max-height: 80px">
    </a>
</div>
<div class="col-xs1 d-flex fx-center my-5">
    <a href="https://www.alves-etancheite.com" target="_blank">
        <img src="{{ asset('img/alves-etancheite.png') }}" class="rounded-2" alt="Alves Etancheite" style="max-height: 80px">
    </a>
</div>
<div class="col-xs1 d-flex fx-center my-5">
    <a href="https://lespaorleans.com" target="_blank">
        <img src="{{ asset('img/spa-orleans.png') }}" class="rounded-1" alt="Spa Orléans" style="max-height: 80px">
    </a>
</div>
<div class="col-xs1 d-flex fx-center my-5">
    <a href="https://www.patay.fr" target="_blank">
        <img src="{{ asset('img/logo-patay.png') }}" class="rounded-1" alt="Ville de Patay" style="max-height: 80px">
    </a>
</div>