<form class="my-5" method="post" action="{{ path('app_news_admin_delete', {'id': news.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ news.id) }}">
    <button class="btn error">Supprimer</button>
</form>
