{% extends 'base.html.twig' %}

{% block title %}Editer une news ping pong{% endblock %}

{% block body %}
    <h1>Edit News</h1>

    {{ include('news_admin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_news_admin_index') }}">back to list</a>

    {{ include('news_admin/_delete_form.html.twig') }}
{% endblock %}
