{% extends 'base.html.twig' %}

{% block title %}Admin cppatay | les news{% endblock %}

{% block body %}
<div class="container">

    <h1 class="text-center">Tennis de table Patay</h1>
    <h2>Toutes les news</h2>
    
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for news in news %}
            <tr>
                <td>{{ news.title }}</td>
                <td>{{ news.createdAt ? news.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn primary" href="{{ path('app_news_admin_show', {'id': news.id}) }}">Voir</a>
                    <a class="btn secondary" href="{{ path('app_news_admin_edit', {'id': news.id}) }}">Modifier</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <a href="{{ path('app_news_admin_new') }}">Create new</a>
</div>
    {% endblock %}
    