{% extends 'base.html.twig' %}

{% block title %}Admin news | créer une news{% endblock %}

{% block body %}
<div class="container">
    <h1>Créer une news Tennis de table</h1>
    
    {{ include('news_admin/_form.html.twig') }}
</div>

    <a href="{{ path('app_news_admin_index') }}">back to list</a>
{% endblock %}
