{% extends 'base.html.twig' %}

{% block title %}Admin | NEws view{% endblock %}

{% block body %}
<div class="container">
    
    <h1>News</h1>
    <a class="btn primary" href="{{ path('app_news_admin_index') }}">Revenir à la liste</a>
    
    <a class="btn secondary" href="{{ path('app_news_admin_edit', {'id': news.id}) }}">Modifier</a>
    
    <table class="table my-5">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ news.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ news.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ news.content }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ news.createdAt ? news.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ news.slug }}</td>
            </tr>
        </tbody>
    </table>
    
    
    {{ include('news_admin/_delete_form.html.twig') }}
</div>
    {% endblock %}
    