<div class="caroulix" id="example-caroulix" data-ax="caroulix" data-caroulix-autoplay-enabled="true"
    data-caroulix-indicators-enabled="true">
    <div class="caroulix-arrow caroulix-prev">
        <span class="fa fa-chevron-left font-s5" data-icon="mdi:chevron-left"></span>
    </div>
    <div class="caroulix-arrow caroulix-next">
        <span class="fa fa-chevron-right font-s5" data-icon="mdi:chevron-right"></span>
    </div>
    {# {% for n in news %}
    <div class="caroulix-item">
        <a href="{{ path('app_news_show', { 'id' : n.id })}}">
            {% if n.fileName %}
            <img src="{{ asset('uploads/images/' ~ n.fileName) }}" alt="" height="450px">
            <img src="{{ asset('img/beandeau-facebook-ping-patay.jpg.jpg') }}" alt="" style="max-height: 450px">
            {% else %}
            <img src="{{ asset('img/entrainements2.png') }}" alt="" style="max-height: 450px">
            {% endif %}
        </a>
    </div>
    {% endfor %} #}

    <div class="caroulix-item">
        <img src="{{ asset('img/salle-ping-pong-patay.png') }}" alt="Tennis de table Patay La Salle" style="max-height: 450px">
    </div>
    <div class="caroulix-item">
        <img src="{{ asset('img/laSalleInterieur.jpg') }}" alt="Tennis de table Patay La Salle Interieur" style="max-height: 450px">
    </div>
    <div class="caroulix-item d-flex fx-center vcenter">
        <img src="{{ asset('img/horaires-entrainements-tennis-de-table-patay.png') }}" alt="Tennis de table Patay Horaires" class="vcenter" style="max-height: 450px">
    </div>
</div>