<div class="shadow-1 hoverable-1 rounded-1 my-3 white col-xs1 p-3	">
	<div class="font-w800 font-s3 text-center">{{news.title | slice(0,35)}}...</div>
	<div class="font-s1 text-center my-2"><small>Publié le {{news.createdAt | date("d/m/Y")}}</small></div>
	<div class="d-flex fx-center">
		{% if news.fileName %}
		<img src="{{ asset('uploads/images/' ~ news.fileName) }}" alt="Tennis de table Patay" style="max-height: 140px; max-width: 90%">
		{% else %}
		<img src="{{ asset('img/logo-tennis-de-table-patay.png') }}" alt="Tennis de table Patay" style="max-height: 140px; max-width: 90%">
		{% endif %}
	</div>
	<div class="mt-3 text-center">
			{{news.content | striptags | replace({'&nbsp;' : ""}) | slice(0,95)}}...
	</div>
	<div class="mt-3">
		<a href="{{ path('app_news_show', { 'id' : news.id })}}">
			<button class="btn red rounded-1" style="width: 100%;">Lire plus</button>
		</a>
	</div>
</div>