<a href="{{ path('app_event_view', { 'id' : news.id })}}" class="">
	<div class="shadow-1 white grix xs4 my-3">

		<div class="col-xs1 col-md1 d-flex vcenter">
			{% if news.fileName %}
				<img src="{{ asset('uploads/images/' ~ news.fileName) }}" alt="Tennis de table Patay" class="responsive-media">
			{% else %}
				<img src="{{ asset('img/pataytt.jpg') }}" alt="Tennis de table Patay" class="responsive-media">
			{% endif %}
			{# <img src="https://picsum.photos/50/50?random=1" style="height: 100%;width: 100%" alt="Logo Tennis de table Patay" /> #}
		</div>

		<div class="col-xs2 col-md3">
			<div class="pl-3 p-3">
				
					<b>
						{{news.title }}
					</b>
				
				{# <p>
					<small class="text-blue text-dark-3"><a href="{{ path('app_news_show', { 'id' : news.id })}}"
							class="customlink">Voir plus ></a></small>
				</p> #}
			</div>
		</div>
	</div>
</a>