{% extends 'base.html.twig' %}

{% block title %}Les news du club{% endblock %}

{% block description %}
<meta name="description" content="Retrouvez toute l'actualité du club de tennis de table de Patay dans le Loiret !">
{% endblock description %}
{% block body %}
<div class="container">

    <h1 class="text-center">Les News</h1>
    <div class="grix xs1 sm2 md4 gutter-xs4">

        {% for news in news %}
        
        {# {% include "/news/_card_small.html.twig" %} #}
        {% include "/news/_card.html.twig" %}
        
        {% endfor %}
    </div>
</div>
{% endblock %}
