{% extends 'base.html.twig' %}

{% block title %}{{ news.title }} | Tennis de table patay{% endblock %}

{% block body %}

{# <div class="card white rounded-2 shadow-1 mx-auto" style="max-width: 75%;">  
    <div class="">
        {% if news.fileName %}
            <img src="{{ asset('uploads/images/' ~ news.fileName) }}" alt="" style="height : 100px">
        {% else %}
            <img src="{{ asset('img/pataytt.jpg') }}" alt="" height="100px"class="">
        {% endif %}
    </div>
    <div class="card-content">
      <span class="h3">{{ news.title }}</span>
      <div>
          <small class="font-s3 text-grey text-light-2">{{ news.createdAt ? news.createdAt|date('d/m/Y H:i') : '' }}</small>
      </div>
      <div class="mt-3">
        {{ news.content }}
      </div>
    </div>
  </div> #}

  <div class="grix xs1 sm4 shadow-1 fx-row white m-5">
    <div class="col-xs1 col-sm3 px-5">
      <div class="d-flex fx-col fx-grow">
        <div class="font-w600 font-s6 mt-2"><u>{{ news.title }}</u></div>
        <div class="text-grey"><small><i>Publié le {{ news.createdAt ? news.createdAt|date('d/m/Y à H:i') : '' }}</i></small></div>
        <div class="card-content">
          <p>{{ news.content | raw }}</p>
        </div>
      </div>
    </div>
    <div class="col-xs1 d-flex vcenter fx-center p-2  pos-row-sm1">
      {% if news.fileName %}
      <img src="{{ asset('uploads/images/' ~ news.fileName) }}" alt="Tennis de table Patay" style="width:  75%;height:auto;display:block;">
      {% else %}
      <img src="{{ asset('img/pataytt.jpg') }}" alt="Tennis de table Patay" class="" style="width:  75%;height:auto;display:block;">
      {% endif %}
    </div>

  </div>
    {% endblock %}
    