<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}Patay Tennis de Table!{% endblock %}</title>
  {% block description %}
  <meta name="description" content="Découvrez notre club de tennis de table à Patay. Venez jouer au ping-pong dans une ambiance conviviale. Inscription pour débutants et confirmés !">
  {% endblock description %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/jpg" href="/img/logo-tennis-de-table-patay.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@2.4.0/dist/axentix.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap" rel="stylesheet">
  {% block stylesheets %}
  <style>
    .menu {
      position: fixed;
      right: 20px;
      bottom: 20px;
    }

    .anton-regular {
      font-family: "Anton", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    

    :root {
      --ax-navbar-height: 5rem;
    }
  </style>
  {% endblock %}

  {% block javascripts %}
  {% block importmap %}{{ importmap('app') }}{% endblock %}
  {% endblock %}
</head>

<body class="" style="min-height:100vh;">
  <header class="">
    <div class="white text-white mb-2" style="width:100vw;height:2rem;position:fixed;z-index:10"></div>

    <div class="navbar-fixed">
      <nav class="navbar shadow-1 black" style="top:3px">
        <a href="{{ path('app_main') }}" class="navbar-logo navbar-centered">
          <img class="dropshadow-5 {# hide-md-up #}" src="/img/logo-tennis-de-table-patay.png" alt="Logo Tennis de table Patay"
            style="height: 105px;" />
        </a>
        {# <a href="{{ path('app_main') }}" class="navbar-brand playfair-display font-w700">CP Patay Tennis de table</a>
        #}
        <div class="navbar-menu mr-auto font-s3">

          <div class="dropdown hide-xs" id="club-dropdown" data-ax="dropdown" data-dropdown-animation-type="fade">
            <a class="navbar-link" data-target="club-dropdown" data-waves="">
              Le Club
            </a>

            <div class="dropdown-content red dark-1 shadow-1">
              <a class="dropdown-item" href="{{ path('app_le_club') }}">Qui sommes nous ?</a>
              <a class="dropdown-item" href="{{ path('app_inscription') }}">S'inscrire</a>
              <a class="dropdown-item" href="{{ path('app_horaires') }}">Horaires</a>
              <a class="dropdown-item" href="{{ path('app_lasalle') }}">La salle</a>
              <a class="dropdown-item" href="{{ path('app_contact') }}">Contact</a>
              <a class="dropdown-item" href="{{ path('app_partenaires') }}">Nos partenaires</a>
            </div>
          </div>
          {# <a class="navbar-link hide-xs" href="{{ path('app_le_club') }}">Le Club</a> #}
          <a class="navbar-link hide-xs" href="{{ path('app_news') }}">News</a>
          <a class="navbar-link hide-xs" href="{{ path('app_event') }}">Evenements</a>



          <div class="dropdown hide-sm-up" id="tryit-dropdown" data-ax="dropdown" data-dropdown-animation-type="fade">
            <a class="navbar-link" data-target="tryit-dropdown" data-waves="">
              <i class="fa fa-bars font-s6" aria-hidden="true"></i>
            </a>

            <div class="dropdown-content red dark-1 shadow-1">
              <a class="dropdown-item" href="{{ path('app_news') }}"><i class="fa fa-newspaper-o mr-3"
                  aria-hidden="true"></i> News</a>
              <a class="dropdown-item" href="{{ path('app_event') }}"><i class="fa fa-calendar mr-3 "
                  aria-hidden="true"></i> Evenements</a>
              <a class="dropdown-item" href=""><u>Le Club</u></a>
              <a class="dropdown-item pl-5" href="{{ path('app_le_club') }}">- Qui sommes nous ?</a>
              <a class="dropdown-item pl-5" href="{{ path('app_inscription') }}">- S'inscrire</a>
              <a class="dropdown-item pl-5" href="{{ path('app_horaires') }}">- Horaires</a>
              <a class="dropdown-item pl-5" href="{{ path('app_lasalle') }}">- La salle</a>
              <a class="dropdown-item pl-5" href="{{ path('app_contact') }}">- Contact</a>
              <a class="dropdown-item pl-5" href="{{ path('app_partenaires') }}">- Nos partenaires</a>
            </div>
          </div>

        </div>
        <div class="navbar-menu ml-auto">
          <a href="https://www.facebook.com/profile.php?id=61556247202849" target="_blank"
            class="navbar-link font-s3 font-w500"><i class="fa fa-facebook-official font-s5 mr-2"
              aria-hidden="true"></i></a>
          <a href="https://www.instagram.com/tennis_de_table_patay" target="_blank"
            class="navbar-link font-s3 font-w500"><i class="fa fa-instagram font-s5 mr-2" aria-hidden="true"></i></a>
        </div>
      </nav>
    </div>
    <div class="red text-red" style="width:100vw;height:20px;position:fixed;z-index:10"></div>
  </header>


  <main class="pt-4" style="min-height:86vh;">
    <div class="">
      {% block body %}{% endblock %}
    </div>
  </main>





  <footer class="p-2 red dark-2">
    Copyright © 2023 - <a href="{{ path('app_admin') }}" class="pl-4 my-1">Admin</a>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/axentix@2.4.0/dist/axentix.min.js"></script>
</body>

</html>