<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Tennis de table Patay{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@2.4.0/dist/axentix.min.css">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}  
</head>

  <body class="">
    <header>
      <div class="navbar-fixed">

        <nav class="navbar shadow-1 red dark-2 p-2">
        <img class="" style="height: 100%" src="/img/pataytt.jpg" alt="Logo tennis de table patay" />

          <a href="#" target="_blank" class="navbar-brand pl-3">CP Patay tennis de table</a>
          <div class="navbar-menu ml-auto">
            <a class="navbar-link" href="{{ path('app_main') }}">Accueuil</a>
            <a class="navbar-link" href="{{ path('app_news') }}">News</a>
            <a class="navbar-link" href="{{ path('app_event') }}">Evenements</a>
            <a class="navbar-link" href="#">Autre</a>
                <div class="ml-5">
                  <input type="text" id="Firstname" style="width: 75%" class="form-control rounded-4 grey light-3" placeholder="Rechercher"/>
                </div>
          </div>
        </nav>
      </div>
    </header>

    <main>

        {% block body %}{% endblock %}

    </main>

    <footer class="footer red dark-2">
      Copyright © 2023 - Example
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/axentix@2.4.0/dist/axentix.min.js"></script>
  </body>
</html>