{% extends 'base.html.twig' %}

{% block title %}Contacter le Club de Patay | Tennis de table
{% endblock %}
{% block description %}
<meta name="description" content="Trouvez ici comment nous contacter et venir vous amuser ou performer au club de Patay tennis de table">
{% endblock description %}
{% block body %}
<h1 class="mt-5 text-center font-s8 anton-regular">Contacter le club de tennis de table de Patay</h1>
<div class="grix xs1 md3 m-5 gutter-xs5">
	<div class="col-md2 px-4 grey light-4 shadow-1 font-s3">

		<h2>Le président</h2>
		{% include "/main/sections/_contact.html.twig" %}
		<h2>Réseaux sociaux</h2>
		<p class="">
			<a href="https://www.facebook.com/profile.php?id=61556247202849" target="_blank" class="navbar-link font-s3 font-w500"><i class="fa fa-facebook-official font-s8 mr-2 text-blue" aria-hidden="true"></i></a>
			<a href="https://www.instagram.com/tennis_de_table_patay" target="_blank" class="navbar-link font-s3 font-w500"><i class="fa fa-instagram font-s8 mr-2 text-magenta" aria-hidden="true"></i></a>
		</p>

	</div>
	<div class="col-xs1">

		<div class="px-4 pb-4 mb-4">

			<h5 style="margin-top: 0 !important;">Actus :</h5>
			{% for news in news | slice(0, 3)%}
			{% include "/news/_card_small.html.twig" %}
			{% endfor %}

			<h5>Prochainement :</h5>
			{% for event in events | slice(0, 3) %}
				{% include "/event/_card_small.html.twig" %}
			{% endfor %}
		</div>

	</div>
</div>{% endblock %}