{% extends 'base.html.twig' %}

{% block title %}Les horaires d'entrainement ping pong à Patay
{% endblock %}
{% block description %}
<meta name="description" content="Retrouvez ici les crénaux et horaires des entrainements de tennis de table au club de Patay. Venez devenir un champion de ping-pong">
{% endblock description %}

{% block body %}
<h1 class="mt-5 text-center font-s8 anton-regular">Quand venir jouer au ping-pong à Patay ?</h1>
<div class="grix xs1 md3 m-5 gutter-xs5">
	<div class="col-md2 px-4 grey light-4 shadow-1">

		{% include 'main/sections/_entrainements.html.twig' %}

	</div>
	<div class="col-xs1">

		<div class="px-4 pb-4 mb-4">

			<h5 style="margin-top: 0 !important;">Actus :</h5>
			{% for news in news | slice(0, 3)%}
			{% include "/news/_card_small.html.twig" %}
			{% endfor %}

			<h5>Prochainement :</h5>
			{% for event in events | slice(0, 3) %}
				{% include "/event/_card_small.html.twig" %}
			{% endfor %}
		</div>

	</div>
</div>{% endblock %}