{% extends 'base.html.twig' %}

{% block title %}Découvrez le club de tennis de table de patay
{% endblock %}
{% block description %}
<meta name="description" content="Découvrez le club de Patay tennis de table, son histoire et ses membres.">
{% endblock description %}

{% block body %}

<h1 class="text-center font-s8 anton-regular">Qui sommes nous ? Découvrez le tennis de table à Patay</h1>

<div class="grix xs1 md3 m-5 gutter-xs5">
	<div class="col-md2 px-4 grey light-4 shadow-1">

		{% include 'main/sections/_leClub.html.twig' %}
		<div class="divider"></div>
		{% include 'main/sections/_organigramme.html.twig' %}

	</div>
	<div class="col-xs1">

		<div class="px-4 pb-4 mb-4">

			<h5 style="margin-top: 0 !important;">Actus :</h5>
			{% for news in news | slice(0, 3)%}
			{% include "/news/_card_small.html.twig" %}
			{% endfor %}

			<h5>Prochainement :</h5>
			{% for event in events | slice(0, 3) %}
				{% include "/event/_card_small.html.twig" %}
			{% endfor %}
		</div>

	</div>
</div>{% endblock %}