{% extends 'base.html.twig' %}

{% block title %}Nos partenaires et sponsors | Ping-Pong
{% endblock %}
{% block description %}
<meta name="description" content="Retrouvez tous les sponsors et partenaires du club de tennis de table de patay qui nous permettent de pratiquer notre sport dans les meilleures conditions. Vive le ping-pong !">
{% endblock description %}

{% block body %}
<h1 class="mt-5 text-center font-s8 anton-regular">Les partenaires et sponsors du club</h1>
<div class="grix xs1 md3 m-5 gutter-xs5">
	<div class="col-md2 px-4 grey light-4 shadow-1">
		<p class="font-s3 font-w600 text-center">Merci à tous les partenaires et sponsors qui aident au fonctionnement
			du club !</p>
		<div class="grix gutter-xs5 xs2 md3 my-5">
			{% include "/main/sections/_partenaires.html.twig" %}
		</div>
	</div>
	<div class="col-xs1">

		<div class="px-4 pb-4 mb-4">

			<h5 style="margin-top: 0 !important;">Actus :</h5>
			{% for news in news | slice(0, 3)%}
			{% include "/news/_card_small.html.twig" %}
			{% endfor %}

			<h5>Prochainement :</h5>
			{% for event in events | slice(0, 3) %}
			{% include "/event/_card_small.html.twig" %}
			{% endfor %}
		</div>

	</div>
</div>{% endblock %}